%ul.nav-header
  %li.nav-header__link-btn{:class => cp(main_index_path)}=link_to 'Main', main_index_path
  %li.nav-header__link-btn{:class => cp(main_contacts_path)}=link_to 'Contacts', main_contacts_path
  %li.nav-header__link-btn{:class => cp(main_help_path)}=link_to 'Help', main_help_path
  %li.nav-header__link-btn{:class => cp(main_about_path)}=link_to 'About', main_about_path