// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    flex-grow: 1;
  }

  &-content {
    &__metadata {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }

    &__image {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      position: relative;

      & img {
        width: auto;
        max-height: calc(100vh - 200px);
        max-width: calc(100vw - 140px);
      }
    }

    &__rating {
      position: absolute;
      top: -25px;
      left: calc((100% - 110px) / 2);

      & polygon:hover {
        cursor: pointer;
        transition: 500ms;
      }
      & polygon:hover {
        fill: black;
      }
      & polygon {
        fill: lightgray;
      }
      & polygon.active{
        fill: gold;
      }
    }

    &__next-btn {
      display: flex;
      flex-shrink: 0;
      font-weight: 500;
      font-size: 1.5em;
      cursor: pointer;
      background: #bed0e7;
      color: #fff;
      padding: 5px 10px;

      &:hover {
        background: #adc1dd;
      }
    }
  }
}