// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.page-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;

  & .container{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 20px;


  &__link-btn {
    &::marker {
      content: none;
    }

    & a {
      text-decoration: none;
      color: #aeb8cb;
      position: relative;
      z-index: 1;
    }

    &.current a {
      color: #002f6b;

      &::before {
        content: '';
        position: absolute;
        bottom: 2px;
        left: -5px;
        height: 30%;
        background: #c1d4ea;
        width: calc(100% + 10px);
        z-index: -1;
      }
    }
  }
}