button {
  display: flex;
  background: #c1d4ea;
  border: none;
  box-shadow: #eeeeee;
  padding: 5px 10px;
  font-weight: 500;
  color: white;

  &:hover {
    background: #a5b9d4;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}